<head><link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet"></head>
<div id="contact">
<p>
    
    <strong>First Name</strong>
    <%= @form.first_name %>
</p>

<p>
    
    <strong>Last Name</strong>
    <%= @form.last_name %>
</p>

<p>
    
    <strong>Email</strong>
    <%= @form.email %>
</p>

<p>
    
    <strong>Message</strong>
    <%= @form.message %>
</p>
</div>