
#welcome {
    background-image: url(/assets/scan.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

div.button_holder {
  position: absolute;
  top: 75%;
  left: 38%;
}

div.button2 {
  position: absolute;
  top: 0%;
  left: 300%;
  float: left;
}

