<h1>Contact Us</h1>
<body id = "welcome">
<div>
  <h6>First Name</h6>
  <div class="input-group">
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>
  <h6>Last Name</h6>
  <div class="input-group">
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>
  <h6>Email Address</h6>
  <div class="input-group">
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>
  <h6>Message</h6>
  <div class="input-group">
    <input type="text" class="form-control" aria-describedby="basic-addon1">
  </div>
</div>
</body>
