<link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
<body id="sign_in_page">
  <fieldset id="fieldset_box3">
<div id="clearance" class="sign-in">
  <h2 style="text-align:center"><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
</fieldset>
</body>

