<!-- Bootstrap Core CSS -->
<link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
<body id="welcome">
<div  id="home-contact-btn">
        <%= button_to "Contact Us", { :action => "contact", :controller =>"contact"}, :class => "btn btn-primary ", :method => :get %>
</div>
<div id="home-search-btn">
    <%= button_to "Search",{ :action => "search", :controller =>"search"}, :class => "btn btn-default ", :method => :get %>
</div>




</body>
