<!-- Bootstrap Core CSS -->
<link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
<body id="welcome">
<<<<<<< HEAD
<div  id="home-contact-btn">
        <%= link_to "Contact Us",controller: 'forms' %>
</div>
<div id="home-search-btn">
    <%= button_to "Search",{ :action => "search", :controller =>"search"}, :class => "btn btn-success ", :method => :get %>
</div>
=======
    <div  id="home-contact-btn">
        <%= link_to 'Contact', controller: 'form' %>
    </div>
    <div id="home-search-btn">
        <%= button_to "Search",{ :action => "search", :controller =>"search"}, :class => "btn btn-success ", :method => :get %>
    </div>
>>>>>>> e965a1fe58cdebf8834c0830fbdd920826448349




</body>
 
